extends common/layout 

block layout-content 
 .about
  h1.about-title ABOUT US
  .abour-contentbg 
      .about-context
        h4.content-maintext Elevating Your Style, One Forecast at a Time!
        p.content-text Fashion Forecast is platform that stands by the belief that style isn't just about what you wear, it's about how you wear it. We've created a unique platform that seamlessly integrates fashion with weather forecasting. Our innovative approach combines the latest in meteorological data with curated fashion inspiration to bring you personalized style recommendations tailored to the current weather conditions. Whether it's a sunny day calling for chic sundresses or a rainy afternoon perfect for cozy sweaters and stylish rain boots, our website has you covered. Say goodbye to fashion faux pas and hello to effortless style.